<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="grey-bg">All Recipes</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <ul class="no-style-spaced">
      <%@recipes.each do |recipe|%>
        <li class="bigger-list"><a class="black-link" href="/recipes/<%=recipe.id%>"><%=recipe.name%></a></li>
      <%end%>
      </ul>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
