.logo {
  font-size: 2.5em;
  color: #999;
}

.row-grey {
  background-color: #eee;
  padding: 15px;
}

.row-green {
  background-color: #a9ea8c;
  padding: 15px 0 15px 0;
}

.row-foot {
  background-color: #eee;
  padding-left: 15px;
}

.nav_foot a {
  color: #666;
  font-size: .9em;
}

.nav_foot a:hover {
  color: #a9ea8c;
  font-size: .9em;
}

.row-grey .nav li a {
  color: black;
}

.row-grey .nav li.active a,
.row-grey .nav li.active a:hover,
.row-grey .nav li.active a:focus,
.row-grey .nav li a:hover,
.row-grey .nav li a:focus {
    background-color: #a9ea8c;
}

.text-center {
  text-align: center;
}

.top-gutter {
  margin-top: 15px;
}

.bottom-gutter {
  padding-bottom: 75px;
}

.no-style {
  list-style-type: none;
  padding: 0;
}
.no-style-spaced {
  list-style-type: none;
  padding-left: 14px;
}

.grey-bg {
  background-color: #eee;
  padding: 15px;
  border-radius: 3px;
}

.bigger-list {
  font-size: 1.2em;
}

.black-link,
.black-link:hover {
  color: black;
}

.red-icon {
  color: #f47a7a;
}

.red-icon:hover {
  color: #ea4646;
}
