.logo {
  font-size: 2.5em;
  color: #999;
}

.row-grey {
  background-color: #eee;
  padding: 15px;
}

.row-green {
  background-color: #a9ea8c;
  padding: 15px 0 15px 0;
}

.green {
  background-color: #a9ea8c;
}
.row-foot {
  background-color: #eee;
  padding-left: 15px;
}

.nav_foot a {
  color: #666;
  font-size: .9em;
}

.nav_foot a:hover {
  color: #000;
  font-size: .9em;
}

.row-grey .nav li a {
  color: black;
}

.row-grey .nav li.active a,
.row-grey .nav li.active a:hover,
.row-grey .nav li.active a:focus,
.row-grey .nav li a:hover,
.row-grey .nav li a:focus {
    background-color: #a9ea8c;
}

.text-center {
  text-align: center;
}

.top-gutter {
  margin-top: 15px;
}

.bottom-gutter {
  padding-bottom: 75px;
}

.no-style {
  list-style-type: none;
  padding: 0;
}
.no-style-spaced {
  list-style-type: none;
  padding-left: 14px;
}

.grey-bg {
  background-color: #eee;
  padding: 15px;
  border-radius: 3px;
}

.bigger-list {
  font-size: 1.2em;
}

.black-link,
.black-link:hover {
  color: black;
}

.red-icon {
  color: #f47a7a;
}

.red-icon:hover {
  color: #ea4646;
}

.blue-icon {
  color: #72a6f9;
}

.blue-icon:hover {
  color: #477acc;
}

.flash-msg {
  height: 10px;
  line-height: 10px;
}

.welcome-main {
  width:350px;
  height:220px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-110px 0 0 -200px;
  text-align: center;
  background-color: #a9ea8c;
  border-radius: 5px;
  padding: 15px;
}

.login-main {
  width:350px;
  height:280px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-150px 0 0 -200px;
  text-align: center;
  background-color: #a9ea8c;
  border-radius: 5px;
  padding: 15px;
}

.signup-main {
  width:350px;
  height:330px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-140px 0 0 -200px;
  text-align: center;
  background-color: #a9ea8c;
  border-radius: 5px;
  padding: 15px;
}
