<h1>Log In</h1>

<form action="/login" method="post">
  <label for="user_email">Email</label>
  <input type="text" name="email" id="user_email">
  <label for="user_password">Password</label>
  <input type="text" name="password" id="user_password">
  <br>
  <input type="submit" name="" value="Log In">
</form>
