<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <h1 class="grey-bg">You Can Make</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <% if !@you_can_make.empty? %>
        <% @you_can_make.each do |key_id, recipe| %>
          <a href="/recipes/<%=recipe.id%>"><%= recipe.name %></a>
        <% end %>
      <% else %>
        <p> You don't have enough ingredients to make anything! </p>
        <a class="btn btn-default btn-sm" href="/ingredients/new" role="button"><span class="glyphicon glyphicon-plus"></span> Add More Ingredients</a>
      <% end %>
    </div>
  </div>

</div>
