<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1 class="grey-bg">All Ingredients</h1>

      <ul class="no-style-spaced">
      <%@ingredients.each do |ingredient|%>
        <li><%=ingredient.name%></li>
      <%end%>
      </ul>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
