<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="grey-bg">Add Ingredients</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <form action="/ingredients" method="post">
        <h3><label>Select from existing ingredients</label></h3>
        <ul class="no-style">
        <% @ingredients.each do |ingredient| %>
        <div class="checkbox">
            <label><li class="bigger-list"><input type="checkbox" name="ingredients[]" id="ingredients" value="<%=ingredient.name%>"> <%= ingredient.name %></li></label>
        </div>
        <% end %>
      </ul>

      <input type="submit" class="btn btn-default" value="Add To Your Ingredients">
    </div>

    <div class="col-md-4">
        <h3><label for="create_ingredients">And/or, create new ingredients</label></h3>
        <div class="form-group">
          <input type="text" name="ingredients[]" id="create_ingredients" class="form-control" placeholder="Ingredient name">
        </div>
        <div class="form-group">
          <input type="text" name="ingredients[]" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="ingredients[]" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="ingredients[]" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="ingredients[]" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="ingredients[]" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="ingredients[]" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="ingredients[]" class="form-control">
        </div>

        <input type="submit" class="btn btn-default" value="Add To Your Ingredients">
      </form>
    </div>

    <div class="col-md-4">
    </div>

  </div>
</div>
