<h1>Add Ingredients</h1>
<form action="/ingredients" method="post">
  <label for="ingredient_name"></label>
  <input type="text" name="name" id="ingredient_name">
  <br>
  <input type="submit value="Add Ingredient">
</form>
